body{
    background: linear-gradient(to bottom,rgb(187, 244, 187), skyblue, rgb(159, 159, 246),rgb(211, 147, 246),rgb(250, 117, 166)) ;
}


h2{
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    font-size: 33px;
    margin-top: 20px;
    /*color: rgb(102, 102, 244);*/
    background: linear-gradient(to right,rgb(115, 239, 115), rgb(144, 144, 249),pink);
}

fieldset{
    border-radius: 10px;
    border: 1px solid rgb(136, 178, 255);
    background-color: hsla(0, 60%, 99%, 0.497);
    width: 50%;
    margin: auto;
}